<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<h1>Lista de Administradores</h1>

<table>
    <tr th:each="administrador : ${administradores}">
        <td th:text="${administrador.nome}">Nome</td>
        <td th:text="${administrador.cpf}">Cpf</td>
        <td><a th:href="@{'/admin/edit/' + ${administrador.id}}" >Editar</a></td>
        <td><a th:href="@{'/admin/delete/' + ${administrador.id}}">Excluir</a></td>
    </tr>
</table>
<a th:href="@{~/admin/add}">Adicionar</a>
</body>
</html>