<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title>Administrador</title>
    </head>
<body>
<h1 th:text="${title}"> Operação </h1>

<div class="container"align="center">

    <div class="row-center">


        <div align="center">
            <div class="panel panel-primary">
                <form th:object="${administrador}" method="post">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nome">Nome Completo:</label>
                            <input type="text" required class="form-control" id="nome" name="nome"
                                   th:value="${administrador?.nome}" th:disabled="${operacao} == deletarpublicpublic"/>
                        </div>

                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" class="form-control" id="email" name="email" required
                                   th:value="${administrador?.email}" th:disabled="${operacao} == deletar"/>
                        </div>
                        <div class="form-group">
                            <label for="senha1">Senha:</label>
                            <input type="password" class="form-control" id="senha1" name="senha" required
                                   autocomplete th:value="${administrador?.senha}"
                                   th:disabled="${operacao} == deletar"/>
                        </div>
                        <div class="form-group">
                            <label for="senha2">Confirmar Senha:</label>
                            <input type="password" class="form-control" id="senha2" name="senha2" required
                                   oninput="validaSenha(this)" th:value="${administrador?.senha}"
                                   th:disabled="${operacao} == deletar"/>
                        </div>

                        <div class="form-group">

                            <input type="submit" class="btn btn-outline-success"th:value="${botaoOperacao}"
                                   name="btnConfirmar"/>

                            <a href="/admin/">
                                <button type="button" class="btn btn-outline-secondary">Voltar</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>