<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title th:text="${tittle}"> Administrador </title>
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin/home/">Sistema de Corrida de Rua</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="administradorHome.jsp">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <!-- <span class="nav-link-text">Painel Administrativo</span> -->
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br><br><br>

<div class="container ">
    <div class="row">
        <h1 th:text="${title}"> de administradores</h1>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-hover table-responsive">
                    <thead>

                        <th>Nome</th>
                        <th>E-mail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="administrador : ${administradores}">

                        <td th:text="${administrador.nome}">Nome</td>
                        <td th:text="${administrador.email}">Email</td>
                        <td><a class="btn btn-outline-success" th:href="@{'/admin/edit/' + ${administrador.id}}">Editar</a></td>
                        <td><a class="btn btn-outline-danger" th:href="@{'/admin/delete/' + ${administrador.id}}">Excluir</a></td>
                    </tr>
                </table>
                <a  class="btn btn-outline-warning"  th:href="@{'~/admin/add'}">Adicionar</a>
                <a  class="btn btn-outline-warning"  th:href="@{'~/admin/home/'}">Voltar</a>


            </div>
        </div>
    </div>
</div>

<div class="footer-copyright bg-dark text-white text-center py-3 fixed-bottom">© 2018 Copyright:
    <a href=""> SCCR II</a>
</div>
    <!-- Copyright -->
<!-- Footer -->
</body>
</html>
