<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title th:text="${tittle}"> Administrador </title>
    </head>
<body>

<div class="container ">
    <div class="row">
        <h1 th:text="${title}">Administrador</h1>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-bordered">
                    <thead>
                    <tr>

                        <th>Nome</th>
                        <th>E-mail</th>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="administrador : ${administradores}">

                        <td th:text="${administrador.nome}">Nome</td>
                        <td th:text="${administrador.email}">Email</td>
                        <td><a class="btn btn-outline-success" th:href="@{'/admin/edit/' + ${administrador.id}}">Editar</a></td>
                        <td><a class="btn btn-outline-danger" th:href="@{'/admin/delete/' + ${administrador.id}}">Excluir</a></td>
                    </tr>
                </table>
                <a  class="btn btn-outline-warning"  th:href="@{'~/admin/add'}">Adicionar</a>
                <a  class="btn btn-outline-warning"  th:href="@{'~/admin/home/'}">Voltar</a>


            </div>
        </div>
    </div>
</div>
</body>
</html>
