<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title>Percurso</title>
    </head>
<body>
<h1 th:text="${title}"> Operação </h1>

<div class="container"align="center">

    <div class="row-center">


        <div align="center">
            <div class="panel panel-primary">
                <form th:object="${percurso}" method="post">

                    <div class="col-md-4">

                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" required class="form-control" id="nome" name="nome"
                                   th:value="${percurso?.nome}" th:disabled="${operacao} == deletarpublicpublic"/>
                        </div>


                        <div class="form-group">
                            <label for="distancia;">Distancia:</label>
                            <input type="text" class="form-control" id="distancia;" name="distancia;" required
                                   th:value="${percurso?.distancia;}" th:disabled="${operacao} == deletar"/>
                        </div>



                        <div class="form-group">

                            <label for="prova">Prova:</label>
                            <select name="prova" id="prova" th:disabled="${operacao} == deletar">
                                <option th:if="${operacao} == adicionar" th:each="prova : ${prova}"
                                        th:value="${prova.id}" th:text="${prova.nome}"></option>

                                <option th:if="${operacao} != adicionar" th:each="prova : ${provas}"
                                        th:value="${prova?.id}"   th:text="${prova.nome}"
                                        th:selected="${prova?.id==percurso.prova.getId()}"></option>
                            </select>
                        </div>



                        <div class="form-group">

                            <input type="submit" class="btn btn-outline-success"th:value="${botaoOperacao}"
                                   name="btnConfirmar"/>

                            <a href="/admin/">
                                <button type="button" class="btn btn-outline-secondary">Voltar</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>