<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Organizador</title>
</head>


<body class="app sidebar-mini rtl">>
<!-- Navbar-->
<header class="app-header"><a class="app-header__logo" href="#"><font face="verdana" color="#f0ffff">SCCR</font>
</a>
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="/login/logout"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
            <p  th:text="${session.nome}"th:unless="session == null">

            </p>
            <p class="app-sidebar__user-designation">Frontend Developer</p>
        </div>
    </div>
    <ul class="app-menu">
        <li><a class="app-menu__item active" th:href="@{'~/prova/gridProvas'}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Relatórios</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item"th:href="@{'~/relatorioProvas/provas'}"><i class="icon fa fa-circle-o"></i>Baixar Lista de Provas</a></li>
                <li><a class="treeview-item"  th:href="@{'~/organizador/relatorio'}"target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i> Baixar Lista de Kits</a></li>
                <li><a class="treeview-item" th:href="@{'~/relatorioLote/lotes'}"><i class="icon fa fa-circle-o"></i> Baixar Lista de Lotes</a></li>

            </ul>
        </li>


    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a>Dashboard</a></li>
        </ul>
    </div>

    <div class="row">



            <div class="col-md-6 col-lg-3">
                <div class="widget-small warning coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                    <div class="info">
                        <a th:href="@{'~/prova/listar'}"><h5>Manter Prova</h5></a>
                    </div>
                </div>
            </div>


        <div class="col-md-6 col-lg-3">
            <div class="widget-small danger coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <a th:href="@{'~/kit/listar'}"><h5>Manter Kit</h5></a>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <a th:href="@{'~/lote/listar'}"><h5>Manter Lote</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small warning coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <a th:href="@{'~/percurso/listar'}"><h5>Manter Percurso</h5></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<div th:replace="fragments :: body"/>

</body>
</html>