<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title th:text="${title}"> Organizador </title>
    </head>
<body>

<div class="container ">
    <div class="row">
        <h1 th:text="${title}">Organizador</h1>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                      
                       <th>Nome</th>
                       <th>E-mail</th>
                       <th>Administrador responsável</th>
                       <th colspan="2"></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr th:each="organizador : ${organizadores}">

                       <td th:text="${organizador.nome}">Nome</td>
                       <td th:text="${organizador.email}">Email</td>
                       <td th:text="${organizador.getAdministrador().getNome()}">Administrador</td>
                       <td><a class="btn btn-outline-success" th:href="@{'/organizador/edit/' + ${organizador.id}}">Editar</a></td>
                       <td><a class="btn btn-outline-danger" th:href="@{'/organizador/delete/' + ${organizador.id}}">Excluir</a></td>
                   </tr>
               </table>
               <a  class="btn btn-outline-warning"  th:href="@{'~/organizador/add/'}">Adicionar</a>
               <a  class="btn btn-outline-warning"  th:href="@{'~/admin/home/'}">Voltar</a>


           </div>
       </div>
   </div>
</div>
</body>
</html>
