<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title th:text="${title}"> Organizador </title>
    </head>
 <body class="app sidebar-mini rtl">>

<header class="app-header"><a class="app-header__logo" th:href="@{'~/prova/gridProvas'}"><font face="verdana" color="#f0ffff">SCCR</font>
</a>
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="/login/logout"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</header>
<br><br><br>

<div class="container ">
    <div class="row">
        <h1 th:text="${title}">Organizador</h1>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                      
                       <th>Nome</th>
                       <th>E-mail</th>
                       <th>Administrador responsável</th>

                   </tr>
                   </thead>
                   <tbody>
                   <tr th:each="organizador : ${organizadores}">

                       <td th:text="${organizador.nome}">Nome</td>
                       <td th:text="${organizador.email}">Email</td>
                       <td th:text="${organizador.getAdministrador().getNome()}">Administrador</td>


                       <td><a class="btn btn-outline-success" th:href="@{'/organizador/edit/' + ${organizador.id}}">Editar</a></td>
                       <td><a class="btn btn-outline-danger" th:href="@{'/organizador/delete/' + ${organizador.id}}">Excluir</a></td>
                   </tr>
               </table>
               <a  class="btn btn-outline-warning"  th:href="@{'~/organizador/add/'}">Adicionar</a>
                <a href="javascript:window.history.go(-1)">
                    <button type="button" class="btn btn-outline-warning">Voltar</button>
                </a>

           </div>
       </div>
   </div>
</div>
<div class="footer-copyright bg-dark text-white text-center py-3 fixed-bottom">© 2018 Copyright:
    <a href=""> SCCR II</a>
</div>

<div th:replace="fragments :: body"/>
</body>
</html>
