<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"> Prova </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin/home/">Sistema de Corrida de Rua</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="administradorHome.jsp">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <!-- <span class="nav-link-text">Painel Administrativo</span> -->
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

                <form class="form-inline -align-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                       <span>  </span> <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
        </ul>
    </div>
</nav>
<br>

<div class="container ">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Bem Vindo!</h1>
        <p class="lead">Sistema de Controle de Corrida de Rua desenvolvido para obtenção de nota na disciplina de Laboratório de Programação III.</p>
        <a href="registro.jsp" class="btn btn-primary btn-lg">Registrar</a>
    </header>


    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4"th:each="prova: ${provas}">


                    <div class="card">
                        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Nome: <span th:text="${prova.nome}"></span></h4>
                            <p class="card-text">Data: <span th:text="${prova.dataEvento}"></span> <br> Horário: <span th:text="${prova.horaLargada}"></span> </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-primary"href="" >Mais informações</a>
                        </div>
                    </div>

                </div>

        </div>

</div>
<div class="footer-copyright bg-dark text-white text-center py-3 bottom">© 2018 Copyright:
    <a href=""> SCCR II</a>
</div>
</body>
</html>
