<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title>Prova</title>
    </head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin/home/">Sistema de Corrida de Rua</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="administradorHome.jsp">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <!-- <span class="nav-link-text">Painel Administrativo</span> -->
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <br>

    <h3 th:text="${title}"> Operação </h3>
<br>

            <div class="panel panel-primary">
                <form th:object="${prova}" method="post">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" required class="form-control" id="nome" name="nome"
                                   th:value="${prova?.nome}" th:disabled="${operacao} == deletarpublicpublic"/>
                        </div>

                        <div class="form-group">
                            <label for="localLargada">Local da largada:</label>
                            <input type="text" class="form-control" id="localLargada" name="localLargada" required
                                   th:value="${prova?.localLargada}" th:disabled="${operacao} == deletar"/>
                        </div>
                        <div class="form-group">
                            <label for="dataEvento">Data do evento:</label>
                            <input type="date" class="form-control" id="dataEvento" name="dataEvento" required
                                   th:value="${prova?.dataEvento}" th:disabled="${operacao} == deletar"/>

                        </div>



                        <div class="form-group">
                            <label for="horaLargada">Hora da largada</label>
                            <input type="text" class="form-control" id="horaLargada" name="horaLargada" required
                                   th:value="${prova?.horaLargada}" th:disabled="${operacao} == deletar"/>

                        </div>
                        <div class="form-group">
                            <label for="maxParticipantes">Maximo de participantes</label>
                            <input type="text" class="form-control" id="maxParticipantes" name="maxParticipantes" required
                                   th:value="${prova?.maxParticipantes}" th:disabled="${operacao} == deletar"/>

                        </div>


                        <div class="form-group">

                            <label for="organizador">Organizador:</label>
                            <select name="organizador" id="organizador" th:disabled="${operacao} == deletar">
                                <option th:if="${operacao} == adicionar" th:each="organizador : ${organizadores}"
                                        th:value="${organizador.id}" th:text="${organizador.nome}"></option>

                                <option th:if="${operacao} != adicionar" th:each="organizador : ${organizadores}"
                                        th:value="${organizador?.id}"   th:text="${organizador.nome}"
                                        th:selected="${organizador?.id==prova.organizador.getId()}"></option>
                            </select>
                        </div>

                        <div class="form-group">

                            <input type="submit" class="btn btn-outline-success"th:value="${botaoOperacao}"
                                   name="btnConfirmar"/>

                            <a href="/prova/listar">
                                <button type="button" class="btn btn-outline-secondary">Voltar</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>