<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title>Prova</title>
    </head>


<body class="app sidebar-mini rtl">>
<!-- Navbar-->
<header class="app-header"><a class="app-header__logo" href="index.html"><font face="verdana" color="#f0ffff">SCCR</font>
</a>
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">

        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="/login/logout"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</header>
<div class="container corpo">
    <br><br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">

    <h3 th:text="${title}"> Operação </h3>
<br>

            <div class="panel panel-primary">
                <form th:object="${prova}" method="post">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" required class="form-control" id="nome" name="nome"
                                   th:value="${prova?.nome}" th:disabled="${operacao} == deletarpublicpublic"/>
                        </div>

                        <div class="form-group">
                            <label for="localLargada">Local da largada:</label>
                            <input type="text" class="form-control" id="localLargada" name="localLargada" required
                                   th:value="${prova?.localLargada}" th:disabled="${operacao} == deletar"/>
                        </div>
                        <div class="form-group">
                            <label for="dataEvento">Data do evento:</label>
                            <input type="date" class="form-control" id="dataEvento" name="dataEvento" required
                                   th:value="${prova?.dataEvento}" th:disabled="${operacao} == deletar"/>

                        </div>



                        <div class="form-group">
                            <label for="horaLargada">Hora da largada</label>
                            <input type="text" class="form-control" id="horaLargada" name="horaLargada" required
                                   th:value="${prova?.horaLargada}" th:disabled="${operacao} == deletar"/>

                        </div>
                        <div class="form-group">
                            <label for="maxParticipantes">Maximo de participantes</label>
                            <input type="text" class="form-control" id="maxParticipantes" name="maxParticipantes" required
                                   th:value="${prova?.maxParticipantes}" th:disabled="${operacao} == deletar"/>

                        </div>


                        <div class="form-group input-group">
                            <select class="form-control custom-select" name="organizador" id="organizador" th:disabled="${operacao} == deletar">
                                <option value="" class="d-none">Organizador correspondente</option>
                                <option th:if="${operacao} == adicionar" th:each="organizador : ${organizadores}"
                                        th:value="${organizador.id}" th:text="${organizador.nome}"></option>

                                <option th:if="${operacao} != adicionar" th:each="organizador : ${organizadores}"
                                        th:value="${organizador?.id}"   th:text="${organizador.nome}"
                                        th:selected="${organizador?.id==prova?.organizador.getId()}"></option>
                            </select>
                        </div>

                        <div class="form-group">

                            <input type="submit" class="btn btn-outline-success"th:value="${botaoOperacao}"
                                   name="btnConfirmar"/>

                            <a href="/prova/listar">
                                <button type="button" class="btn btn-outline-secondary">Voltar</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <div th:replace="fragments :: body"/>
</body>
</html>