<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title>Prova</title>
    </head>
<body>
<h1 th:text="${title}"> Operação </h1>

<div class="container"align="center">

    <div class="row-center">


        <div align="center">
            <div class="panel panel-primary">
                <form th:object="${prova}" method="post">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" required class="form-control" id="nome" name="nome"
                                   th:value="${prova?.nome}" th:disabled="${operacao} == deletarpublicpublic"/>
                        </div>

                        <div class="form-group">
                            <label for="localLargada">Local da largada:</label>
                            <input type="text" class="form-control" id="localLargada" name="localLargada" required
                                   th:value="${prova?.localLargada}" th:disabled="${operacao} == deletar"/>
                        </div>
                        <div class="form-group">
                            <label for="dataEvento">Data do evento:</label>
                            <input type="text" class="form-control" id="dataEvento" name="dataEvento" required
                                   th:value="${prova?.dataEvento}" th:disabled="${operacao} == deletar"/>

                        </div>
                        <div class="form-group">
                            <label for="horaLargada">Hora da largada</label>
                            <input type="text" class="form-control" id="horaLargada" name="horaLargada" required
                                   th:value="${prova?.horaLargada}" th:disabled="${operacao} == deletar"/>

                        </div>
                        <div class="form-group">
                            <label for="maxParticipantes">Maximo de participantes</label>
                            <input type="text" class="form-control" id="maxParticipantes" name="maxParticipantes" required
                                   th:value="${prova?.maxParticipantes}" th:disabled="${operacao} == deletar"/>

                        </div>

                        <div class="form-group">

                            <label for="organizador">Organizador:</label>
                            <select name="organizador" id="organizador" th:disabled="${operacao} == deletar">
                                <option th:if="${operacao} == adicionar" th:each="organizador : ${organizadores}"
                                        th:value="${organizador.id}" th:text="${organizador.nome}"></option>

                                <option th:if="${operacao} != adicionar" th:each="organizador : ${organizadores}"
                                        th:value="${organizador?.id}"   th:text="${organizador.nome}"
                                        th:selected="${organizador?.id==prova.organizador.getId()}"></option>
                            </select>
                        </div>

                        <div class="form-group">

                            <input type="submit" class="btn btn-outline-success"th:value="${botaoOperacao}"
                                   name="btnConfirmar"/>

                            <a href="/admin/">
                                <button type="button" class="btn btn-outline-secondary">Voltar</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>