<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title th:text="${title}"> Prova </title>
    </head>
<body>

<div class="container " th:background="black">
    <div class="row">
        <h1 th:text="${title}">Prova</h1>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                       <th>Nome</th>
                       <th>Local da largada</th>
                        <th>Data do evento</th>
                        <th>Hora da largada</th>
                        <th>Maximo de participantes</th>
                        <th>Organizador responsável</th>

                   </tr>
                   </thead>
                   <tbody>
                   <tr th:each="prova : ${provas}">
                       <td th:text="${prova.id}">Codigo</td>
                       <td th:text="${prova.nome}">Nome</td>
                       <td th:text="${prova.localLargada}">Local da largada</td>
                       <td th:text="${prova.dataEvento}">Data do evento</td>
                       <td th:text="${prova.horaLargada}">Hora da largada</td>
                       <td th:text="${prova.maxParticipantes}">Maximo de participantes</td>

                       <td th:text="${prova.getOrganizador().getNome()}">Organizador</td>

                       <td><a class="btn btn-outline-success" th:href="@{'/prova/edit/' + ${prova.id}}">Editar</a></td>
                       <td><a class="btn btn-outline-danger" th:href="@{'/prova/delete/' + ${prova.id}}">Excluir</a></td>
                   </tr>
               </table>
               <a  class="btn btn-outline-warning"  th:href="@{'~/prova/add/'}">Adicionar</a>
               <a  class="btn btn-outline-warning"  th:href="@{'~/organizador/home/'}">Voltar</a>


           </div>
       </div>
   </div>
</div>
</body>
</html>
