<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title>Kit</title>
    </head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin/home/">Sistema de Corrida de Rua</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="administradorHome.jsp">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <!-- <span class="nav-link-text">Painel Administrativo</span> -->
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>


<body>
<div class="container corpo">
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header" th:text="${title}">Inscrição</h5>
                <div class="card-body">
                    <form th:object="${inscricao}" method="post">
                        <div class="form-group">
                            <label for="dataInscricao">Data:</label>
                            <input type="date" class="form-control" id="dataInscricao" name="dataInscricao" required
                                   th:value="${inscricao?.dataInscricao}" th:disabled="${operacao} == deletar"/>
                        </div>

                        <div class="form-group">
                            <label for="tamanhoCamisa">Tamanho da camisa:</label>
                            <input type="text" class="form-control" id="tamanhoCamisa" name="tamanhoCamisa" required
                                   th:value="${inscricao?.tamanhoCamisa}" th:disabled="${operacao} == deletar"/>
                        </div>



                        <div class="form-group input-group">
                            <select class="form-control custom-select" name="atleta" id="atleta" th:disabled="${operacao} == deletar">
                                <option value="" class="d-none">Selecione um Atleta...</option>
                                <option th:if="${operacao} == adicionar" th:each="atleta : ${atletas}"
                                        th:value="${atleta.id}" th:text="${atleta.nome}"></option>

                                <option th:if="${operacao} != adicionar" th:each="atleta : ${atletas}"
                                        th:value="${atleta?.id}"   th:text="${atleta.nome}"
                                        th:selected="${atleta?.id==inscricao?.atleta.getId()}"></option>
                            </select>
                        </div>

                        <div class="form-group input-group">
                            <select class="form-control custom-select" name="percurso" id="percurso" th:disabled="${operacao} == deletar">
                                <option value="" class="d-none">Selecione um Percurso...</option>
                                <option th:if="${operacao} == adicionar" th:each="percurso : ${percursos}"
                                        th:value="${percurso.id}" th:text="${percurso.quilometragem + 'km'}"></option>

                                <option th:if="${operacao} != adicionar" th:each="percurso : ${percursos}"
                                        th:value="${percurso?.id}"   th:text="${percurso.quilometragem + 'km'}"
                                        th:selected="${percurso?.id==inscricao?.percurso.getId()}"></option>
                            </select>
                        </div>


                        <div class="form-group input-group">
                            <select class="form-control custom-select" name="kit" id="kit" th:disabled="${operacao} == deletar">
                                <option value="" class="d-none">Selecione um Kit...</option>
                                <option th:if="${operacao} == adicionar" th:each="kit : ${kits}"
                                        th:value="${kit.id}" th:text="${kit.nome}"></option>

                                <option th:if="${operacao} != adicionar" th:each="kit : ${kits}"
                                        th:value="${kit?.id}"   th:text="${kit.nome}"
                                        th:selected="${kit?.id==inscricao?.kit.getId()}"></option>
                            </select>
                        </div>

                        <div class="form-group">

                            <a href="/inscricao/listar/">
                                <button type="button" class="btn btn-outline-secondary">Voltar</button>
                            </a>

                            <input type="submit" class="btn btn-outline-success"th:value="${botaoOperacao}"
                                   name="btnConfirmar"/>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright bg-dark text-white text-center py-3 fixed-bottom">© 2018 Copyright:
    <a href=""> SCCR II</a>
</div>
</body>
</html>