<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroPaginas</filter-name>
        <filter-class>controller.FiltroPaginas</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroPaginas</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>PesquisaAdministradorController</servlet-name>
        <servlet-class>controller.PesquisaAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <servlet-class>controller.PesquisaAtletaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaItemController</servlet-name>
        <servlet-class>controller.PesquisaItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaInscricaoController</servlet-name>
        <servlet-class>controller.PesquisaInscricaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaRankingController</servlet-name>
        <servlet-class>controller.PesquisaRankingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProvaController</servlet-name>
        <servlet-class>controller.PesquisaProvaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPercursoController</servlet-name>
        <servlet-class>controller.PesquisaPercursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaKitController</servlet-name>
        <servlet-class>controller.PesquisaKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAdministradorController</servlet-name>
        <servlet-class>controller.ManterAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAtletaController</servlet-name>
        <servlet-class>controller.ManterAtletaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterInscricaoController</servlet-name>
        <servlet-class>controller.ManterInscricaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterItemController</servlet-name>
        <servlet-class>controller.ManterItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterRankingController</servlet-name>
        <servlet-class>controller.ManterRankingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProvaController</servlet-name>
        <servlet-class>controller.ManterProvaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPercursoController</servlet-name>
        <servlet-class>controller.ManterPercursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaControleChipRetornavelController</servlet-name>
        <servlet-class>controller.PesquisaControleChipRetornavelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterKitController</servlet-name>
        <servlet-class>controller.ManterKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterLoteController</servlet-name>
        <servlet-class>controller.ManterLoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaLoteController</servlet-name>
        <servlet-class>controller.PesquisaLoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterOrganizadorController</servlet-name>
        <servlet-class>controller.ManterOrganizadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaOrganizadorController</servlet-name>
        <servlet-class>controller.PesquisaOrganizadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterElementosKit</servlet-name>
        <servlet-class>controller.ManterElementoKit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaElementosKit</servlet-name>
        <servlet-class>controller.PesquisaElementoKit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterElementoKitController</servlet-name>
        <servlet-class>controller.ManterElementoKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaElementoKitController</servlet-name>
        <servlet-class>controller.PesquisaElementoKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaResultadoProvasController</servlet-name>
        <servlet-class>controller.PesquisaResultadoProvasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutenticadorController</servlet-name>
        <servlet-class>controller.AutenticadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaResultadoRanking</servlet-name>
        <servlet-class>controller.PesquisaResultadoRankingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterInscricaoAtletaController</servlet-name>
        <servlet-class>controller.ObterInscricaoAtletaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterResultadoProvasController</servlet-name>
        <servlet-class>controller.ManterResultadoProvasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioController</servlet-name>
        <servlet-class>relatorio.RelatorioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAtletasController</servlet-name>
        <servlet-class>relatorio.RelatorioAtletasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAtletaController</servlet-name>
        <servlet-class>relatorio.RelatorioAtletaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaAdministradorController</servlet-name>
        <url-pattern>/PesquisaAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <url-pattern>/PesquisaAtletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaItemController</servlet-name>
        <url-pattern>/PesquisaItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaInscricaoController</servlet-name>
        <url-pattern>/PesquisaInscricaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaRankingController</servlet-name>
        <url-pattern>/PesquisaRankingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProvaController</servlet-name>
        <url-pattern>/PesquisaProvaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPercursoController</servlet-name>
        <url-pattern>/PesquisaPercursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaKitController</servlet-name>
        <url-pattern>/PesquisaKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAdministradorController</servlet-name>
        <url-pattern>/ManterAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAtletaController</servlet-name>
        <url-pattern>/ManterAtletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterInscricaoController</servlet-name>
        <url-pattern>/ManterInscricaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterItemController</servlet-name>
        <url-pattern>/ManterItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterRankingController</servlet-name>
        <url-pattern>/ManterRankingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProvaController</servlet-name>
        <url-pattern>/ManterProvaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPercursoController</servlet-name>
        <url-pattern>/ManterPercursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaControleChipRetornavelController</servlet-name>
        <url-pattern>/PesquisaControleChipRetornavelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterKitController</servlet-name>
        <url-pattern>/ManterKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterLoteController</servlet-name>
        <url-pattern>/ManterLoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaLoteController</servlet-name>
        <url-pattern>/PesquisaLoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterOrganizadorController</servlet-name>
        <url-pattern>/ManterOrganizadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaOrganizadorController</servlet-name>
        <url-pattern>/PesquisaOrganizadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterElementosKit</servlet-name>
        <url-pattern>/ManterElementosKit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaElementosKit</servlet-name>
        <url-pattern>/PesquisaElementosKit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterElementoKitController</servlet-name>
        <url-pattern>/ManterElementoKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaElementoKitController</servlet-name>
        <url-pattern>/PesquisaElementoKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaResultadoProvasController</servlet-name>
        <url-pattern>/PesquisaResultadoProvasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticadorController</servlet-name>
        <url-pattern>/AutenticadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaResultadoRanking</servlet-name>
        <url-pattern>/PesquisaResultadoRanking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterInscricaoAtletaController</servlet-name>
        <url-pattern>/ObterInscricaoAtletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterResultadoProvasController</servlet-name>
        <url-pattern>/ManterResultadoProvasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioController</servlet-name>
        <url-pattern>/RelatorioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAtletasController</servlet-name>
        <url-pattern>/RelatorioAtletasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAtletaController</servlet-name>
        <url-pattern>/RelatorioAtletaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
